<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= @title %></title>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="<%= @context_path %>/img/icon-16.png" type="image/png"/>
    <link rel="stylesheet" href="<%= @context_path %>/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="<%= @context_path %>/css/jquery-ui-1.9.2.custom.min.css" media="screen"/>
    <link rel="stylesheet" href="<%= @context_path %>/css/sourcecolon.css" media="screen"/>
    <script type="text/javascript" src="<%= @context_path %>/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="<%= @context_path %>/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="<%= @context_path %>/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="<%= @context_path %>" class="brand">Source:</a>
        </div>
    </div>
</div>
<div class="container">
    <%= yield %>
</div>
<div class="container">
    <footer>
        <div class="muted">
            Powered by <a href="https://github.com/watermint/SourceColon">Source:</a>
        </div>
    </footer>
</div>
</body>
</html>
